name: Docker image

on:
  push:
    branches: [ stable, beta ]

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

env:
  DOCKER_TAG: ${{ github.ref == 'refs/heads/stable' && 'latest' || 'beta' }}

jobs:
  docker:
    runs-on: blacksmith-4vcpu-ubuntu-2404
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Blacksmith Builder
        uses: useblacksmith/setup-docker-builder@v1
      - name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: useblacksmith/build-push-action@v2
        with:
          push: true
          tags: luc1412/easyfnstats-image:${{ env.DOCKER_TAG }}
      - name: Discord notification
        if: success()
        uses: Ilshidur/action-discord@master
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        with:
          args: "Docker image `luc1412/easyfnstats-image:${{ env.DOCKER_TAG }}` built and pushed to DockerHub" 